@layer reset, base, nav;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer base {
    body { 
        font-family: sans-serif; 
    }
}

@layer nav {
    header {
        background-color: #ff8c31;
        color: white;
        padding: 1rem 0;
        text-align: center;
    }
    header > h1 {
        margin: 0;
    }
    nav {
        margin-top: 1rem;
    }
    nav > a {
        text-decoration: none;
        color: white;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
    }
    
}

@layer footer {
   
.footer-social {
    background: #000;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 25px 2rem;
}
.fside-section {
    display: flex;
    align-items: left; 
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.fside-text {
    color:aliceblue;
}
.midside-text {
    text-align: left;
    color:aliceblue;
}
.ilc-logo {
    width:70px;
    height:70px;
    justify-items: right;
    border-radius: 100%;    
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
    transition: transform 0.25s ease;
    flex: 1;  
}
.mid-section {
    display: flex;
    align-items: left;
    gap: 20px;
    padding:20px;
}
.footer-logo-box {
    width: 70px;
    height:70px;
}
.google {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}

}